/flattened
/resized
/penis_segmentation_masks
/card_pose_labels
/card_pose_labels_verified
/penis_segmentation_masks_verified
/labeled
/metadata.csv
/card_pose_dataset
/penis_segmentation_dataset
/cleaned
